//App Styles
.app{
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}

//Navbar Styles
.navbarPublic{
  background: $light;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  &__menu{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 2px 2px 2px;
      &:hover{
        background: $primary;
      }
    }
  }
  &__logo{
    align-self: center;
    img{
      width: 10rem;
      height: 3rem;
      object-fit: cover;
    }
  }
  &__settings{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 2px;
      &:hover{
        background: $primary;
      }
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}

.navbar{
  background: $light;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  &__menu{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 2px 2px 2px;
      &:hover{
        background: $primary;
      }
    }
  }
  &__logo{
    align-self: center;
    img{
      width: 10rem;
      height: 3rem;
      object-fit: cover;
    }
  }
  &__back{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 2px;
      &:hover{
        background: $primary;
      }
    }
  }
}
.menu{
  background: $backGrey;
  border: 3px solid $primary;
  border-radius: 0 4px 4px 4px;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: moveInRight 0.3s ease-in-out;
  transition: all;
  &__title{
    align-self: center;
    font-size: 2rem;
  }
  &__list{
    list-style-type: none;
    margin: 1rem;
    a{
      text-decoration: none;
      color: $dark;
    }
    button{
      text-decoration: none;
      color: $dark;
      width: 100%;
    }
    li{
      background: $light;
      border: 1px solid $dark;
      border-radius: 4px;
      margin-top: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.menuPublic{
  background: $backGrey;
  border: 3px solid $primary;
  border-radius: 0 4px 4px 4px;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: moveInRight 0.3s ease-in-out;
  transition: all;
    &__title{
      align-self: center;
      font-size: 2rem;
    }
    &__list{
      list-style-type: none;
      margin: 1rem;
      a{
        text-decoration: none;
        color: $dark;
      }
      li{
        background: $light;
        border: 1px solid $dark;
        border-radius: 4px;
        margin: 1rem 0;
        text-align: center;
        font-size: 1.5rem;
      }
    }
    @media(min-width: 768px){
    }
    @media(min-width: 1440px){
    }
}
@keyframes moveInRight {
  0%{
    transform: translateX(+100%);
  }
  100%{
    transform: translateX(0);
  }
}

.about{
  display: flex;
  flex-direction: column;
  background: $backBlue;
  &__hero{
    margin: 0 1rem;
    height: 8rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  &__slogan{
    margin-top: 80px;
    padding: 1rem 0;
    align-self: center;
    h2{
      font-size: 1.7rem;
      text-align: center;
    }
  }
  &__what{
    padding: 1rem;
    h2{
      text-align: center;
    }
    h4{
      padding: 0.5rem 0;
    }
    h3{
      padding-top: 1rem;
      text-align: center;
    }
    ul{
      padding: 0 1.5rem;
    }
    li{
      list-style-type: circle;
    }
  }
  &__network{
    margin: 0 1rem;
    height: 8rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  &__how{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    p{
      text-align: center;
    }
    button{
      margin-top: 1rem;
      background: $primary;
      color: $dark;
      border: 2px solid $dark;
      border-radius: 8px;
      height: 2rem;
      width: 10rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.features{
  display: flex;
  flex-direction: column;
  background: $backBlue;
  &__title{
    margin-top: 80px;
    align-self: center;
    padding: 0 1rem;
  }
  &__list{
    padding-bottom: 1rem;
  }
  &__easy{
    padding: 1rem 1rem 0 1rem;
  }
  &__targeted{
    padding: 1rem 1rem 0 1rem;
  }
  &__instant{
    padding: 1rem 1rem 0 1rem;
  }
  &__hero{
    display: flex;
    margin: 1rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.contact{
  display: flex;
  flex-direction: column;
  background: $backBlue;
  &__title{
    margin-top: 80px;
    align-self: center;
    padding: 0 1rem;
  }
  &__story{
    padding: 1rem 1rem 0 1rem;
    p{
      margin: 0.5rem 0;
    }
  }
  &__meet{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    &--card{
      margin: 1rem 0;
      align-self: center;
      img{
        height: 10rem;
      }
    }
  }
  &__contact{
    padding: 1rem 1rem 0 1rem;
    &--card{
      margin: 0.5rem 0;
      li{
        margin: 0.5rem;
        list-style-type: none;
      }
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.bridge{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: $dark;
  .login{
    margin-top: 80px;
    z-index: 0;
  }
  .signup{
    margin-top: 80px;
    z-index: 0;
  }
  &__back{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed; 
    filter: contrast(60%)
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 2rem 1rem;
  margin-bottom: 0;
  form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  &__loginbutton{
    background: $light;
    color: $dark;
    border: 2px solid $dark;
    border-radius: 8px;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    
  }
  &__email{
    @include loginField();
    margin-top: 3rem;
  } 
  &__password{
    @include loginField();
    margin-bottom: 1.5rem;
  } 
  &__newUser{
    button{
      background: $light;
      color: $dark;
      border: 2px solid $dark;
      border-radius: 8px;
      height: 2rem;
      width: 10rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 2rem 1rem;
  margin-bottom: 0;
  &__connectImg{
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid $dark;
    border-radius: 4px;
  }
  &__title{
    color: $white;
  }
  form{
    height: 100%;
    width: 100%;
    margin: 1rem 0;
  }
  &__name{
    color: $white;
    div{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    input{
      height: 2rem;
      width: 8rem;
      border: 2px solid $dark;
      border-radius: 0.5rem;
      font-size: 16px;
      padding: 0 1rem;
    }
  }
  &__bio{
    @include signUpField();
    textarea{
      height: 8rem;
      width: 100%;
      border: 2px solid $dark;
      border-radius: 0.5rem;
      font-size: 16px;
      padding: 1rem;
    }
  }
  .select{
    @include signUpSelect();
  }
  .input{
    @include signUpField();
  }
  button{
    background: $light;
    color: $dark;
    border: 2px solid $dark;
    border-radius: 8px;
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}

.connect{
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
  background: $backWhite;
  display: flex;
  flex-direction: column;
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.landing{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
  a{
    text-decoration: none;
    color: $black;
  }
  &__block{
    height: 3rem;
    width: 9rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark;
    border-radius: 0.5rem;
    background: $backWhite;
    color: $dark;
  }
}
.profileBlock{
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  h4{
    max-width: 10rem;
    padding-bottom: 0.25rem;
  }
  p{
    text-align: center;
    flex-grow: 2;
    background: $light;
    border: 1px solid $dark;
    border-radius: 4px;
    max-height: 2.5rem;
    overflow-y: scroll;
    padding: 0.25rem;
    }
}
.profile{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pic{
    margin-top: 1rem;
    height: 7rem;
    width: 7rem;
    img{
      border: 1px solid $dark;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    } 
  }
  &__member{
    width: 100%;
  }
}
.profile__bio{
  p{
    max-height: 5.5rem;
  }
}
.profile__address{
  p{
    max-height: 5.5rem;
  }
}
.noconnections{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.connections{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  margin-top: 1rem;
}
.CU{
  padding: 0.25rem 1rem;
  width: 100%;
  &__card{
    min-height: 3rem;
    width: 100%;
    border: 2px solid $dark;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      text-decoration: none;
      color: $textBlack;
    }
    h2{
      margin-left: 0.25rem;
    }
    img{
      margin-right: 0.25rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
.conversation{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
}
.noadd{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.add{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.adduserBlock{
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  h4{
    max-width: 10rem;
    padding-bottom: 0.25rem;
  }
  p{
    text-align: center;
    flex-grow: 2;
    background: $light;
    border: 1px solid $dark;
    border-radius: 4px;
    max-height: 2.5rem;
    overflow-y: scroll;
    padding: 0.25rem;
    }
}
.adduser{
  width: 100%;
  padding: 1rem 1rem;
  &__card{
    height: auto;
    background: $backWhite;
    border: 2px solid $dark;
    border-radius: 4px;
    padding: 0.5rem;
  }
  &__header{
    display: flex;
  }
  &__person{
    display: flex;
    flex-direction: column;
  }
  &__city{
    display: flex;
    p{
      margin-left: 0.25rem;
    }
  }
  &__display{
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 1rem;
    img{
      border: 1px solid $dark;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    } 
  }
  &__match{
    background: $light;
    color: $dark;
    border-radius: 4px;
    font-size: 2rem;
    padding: 0.25rem;
  }
}
.noactivity{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.activity{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  margin: 1rem 0;
  h1{
    margin: 0 1rem;
    align-self: start;
  }
}
.AE{
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  &__card{
    min-height: 3rem;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid $dark;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4{
    }
  }
}
.settings{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.footer{
  background: $backBlack;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  position: relative;
  h3{
    text-align: center;
  }
  h5{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}

//Default Component Styles
// .name{
//   @media(min-width: 768px){
//   }
//   @media(min-width: 1440px){
//   }
// }