//App Styles
.app{
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}

//Navbar Styles
.navbarPublic{
  background: $light;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  &__menu{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 2px 2px 2px;
      transition: 0.1s all;
      &:hover{
        background: $backBlue;
      }
    }
  }
  &__logo{
    align-self: center;
    img{
      width: 10rem;
      height: 3rem;
      object-fit: cover;
    }
  }
  &__settings{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 2px;
      transition: 0.1s all;
      &:hover{
        background: $backBlue;
      }
    }
  }
  &__toggled{
    img{
      background: $backBlue;
    }
  }
  @media(min-width: 768px){
    //padding: 0 $tabletPad;
  }
  @media(min-width: 1440px){
    //padding: 0 $desktopPad;
  }
}

.navbar{
  background: $light;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  &__menu{
    img{
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 2px 2px 2px;
      transition: 0.1s all;
      &:hover{
        background: $backBlue;
      }
    }
  }
  &__logo{
    align-self: center;
    img{
      width: 10rem;
      height: 3rem;
      object-fit: cover;
    }
  }
  &__back{
    button{
      margin: 2px;
      border: none;
      background: none;
    }
    img{
      width: 2.5rem;
      height: 2.5rem;
      transition: 0.1s all;
      &:hover{
        background: $backBlue;
      }
    }
  }
  &__toggled{
    img{
      background: $backBlue;
    }
  }
}
.menu{
  background: $backGrey;
  border: 3px solid $primary;
  border-radius: 0 4px 4px 4px;
  width: 50%;
  height: auto;
  position: fixed;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: moveInTop 0.3s ease-in-out;
  transition: all;
  &__title{
    align-self: center;
    font-size: 2rem;
  }
  &__list{
    list-style-type: none;
    margin: 1rem;
    a{
      text-decoration: none;
      color: $dark;
    }
    button{
      text-decoration: none;
      color: $dark;
      width: 100%;
      background: $backGrey;
      border: none;
    }
    li{
      background: $light;
      border: 1px solid $dark;
      border-radius: 4px;
      margin-top: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  @media(min-width: 768px){
    width: 30%;
  }
  @media(min-width: 1440px){
  }
}
.menuPublic{
  background: $secondary;
  border: 3px solid $primary;
  border-radius: 0 4px 4px 4px;
  width: 50%;
  height: auto;
  position: fixed;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: moveInTop 0.3s ease-in-out;
  transition: all;
  &__title{
    align-self: center;
    font-size: 2rem;
  }
  &__list{
    list-style-type: none;
    margin: 1rem;
    a{
      text-decoration: none;
      color: $dark;
    }
    li{
      background: $light;
      border: 1px solid $dark;
      border-radius: 4px;
      margin: 1rem 0;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  @media(min-width: 768px){
    width: 30%;
  }
  @media(min-width: 1440px){
  }
}
@keyframes moveInTop {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

.about{
  display: flex;
  flex-direction: column;
  background: $backBlue;
  padding: 0 1rem;
  &__hero{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  &__slogan{
    margin-top: 80px;
    padding: 1rem 0;
    align-self: center;
    h2{
      font-size: 1.7rem;
      text-align: center;
    }
  }
  &__what{
    padding: 1rem 0;
    h2{
      text-align: center;
    }
    h4{
      padding: 0.5rem 0;
    }
    h3{
      padding-top: 1rem;
      text-align: center;
    }
    ul{
      padding: 0 1.5rem;
    }
    li{
      list-style-type: circle;
    }
  }
  &__network{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  &__how{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    p{
      text-align: center;
    }
    button{
      margin-top: 1rem;
      background: $light;
      color: $dark;
      border: 1px solid $dark;
      border-radius: 8px;
      height: 2rem;
      width: 10rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  @media(min-width: 768px){
    padding: 0 1.5rem;
    &__hero{
      padding: 0 $tabletPicPad;
    }
    &__network{
      padding: 0 $tabletPicPad;
    }
    &__slogan{
      display: flex;
      h2{
        margin: 0 0.25rem;
      }
    }
  }
  @media(min-width: 1440px){
  }
}
.features{
  display: flex;
  flex-direction: column;
  background: $backBlue;
  padding: 0 $mobilePad;
  &__title{
    margin-top: 80px;
    align-self: center;
  }
  &__list{
    padding-bottom: 1rem;
  }
  &__easy{
    padding-top: 1rem;
  }
  &__targeted{
    padding-top: 1rem;
  }
  &__instant{
    padding-top: 1rem;
  }
  &__hero{
    display: flex;
    margin: 1rem 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  @media(min-width: 768px){
    padding: 0 $tabletPad;
    &__hero{
      padding: 0 $tabletPicPad;
    }
  }
  @media(min-width: 1440px){
  }
}
.contact{
  display: flex;
  flex-direction: column;
  background: $backBlue;
  padding: 0 $mobilePad;
  &__title{
    margin-top: 80px;
    align-self: center;
  }
  &__story{
    padding-top: 1rem;
    p{
      margin: 0.5rem 0;
    }
  }
  &__meet{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    &--card{
      margin: 1rem 0;
      align-self: center;
      img{
        height: 10rem;
      }
    }
  }
  &__contact{
    padding-top: 1rem;
    &--card{
      margin: 0.5rem 0;
      li{
        margin: 0.5rem;
        list-style-type: none;
      }
    }
  }
  @media(min-width: 768px){
    padding: 0 $tabletPad;
  }
  @media(min-width: 1440px){
  }
}
.bridge{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: $dark;
  .login{
    margin-top: 80px;
    z-index: 0;
  }
  .signup{
    margin-top: 80px;
    z-index: 0;
  }
  &__back{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed; 
    filter: contrast(60%)
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 2rem 1rem 0 1rem;
  form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    h4{
      color: red;
    }
  }
  &__loginbutton{
    background: $light;
    color: $dark;
    border: 2px solid $dark;
    border-radius: 8px;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    transition: 0.1s all;
    &:hover{
      background: $primary;
      color: white;
    }
  }
  &__email{
    @include loginField();
    margin-top: 3rem;
  } 
  &__password{
    @include loginField();
    margin-bottom: 1.5rem;
  } 
  &__newUser{
    button{
      background: $light;
      color: $dark;
      border: 2px solid $dark;
      border-radius: 8px;
      height: 2rem;
      width: 10rem;
      font-size: 1rem;
      font-weight: bold;
      transition: 0.2s all;
      &:hover{
        background: $primary;
        color: white;
      }
    }
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-top: 2rem;
  padding: 0 $mobilePad;
  &__connectImg{
    display: flex;
    margin-top: 1rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  }
  &__title{
    margin-top: 0.5rem;
    color: $white;
  }
  form{
    height: 100%;
    width: 100%;
    margin: 1rem 0;
  }
  &__name{
    color: $white;
    div{
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    input{
      height: 2rem;
      max-width: 15rem;
      min-width: 2rem;
      border: 2px solid $dark;
      border-radius: 0.5rem;
      font-size: 16px;
      padding: 0 1rem;
    }
  }
  &__bio{
    @include signUpField();
    textarea{
      height: 8rem;
      width: 100%;
      border: 2px solid $dark;
      border-radius: 0.5rem;
      font-size: 16px;
      padding: 1rem;
    }
  }
  .select{
    @include signUpSelect();
  }
  .input{
    @include signUpField();
  }
  button{
    background: $light;
    color: $dark;
    border: 2px solid $dark;
    border-radius: 8px;
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
  }
  @media(min-width: 768px){
    padding: 0 $tabletPad;
    &__connectImg{
      padding: 0 $tabletPicPad;
    }
    form{
      padding: 0 $tabletPicPad;
    }
  }
  @media(min-width: 1440px){
  }
}

.connect{
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
  background: $backWhite;
  display: flex;
  flex-direction: column;
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}
.landing{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 0 $mobilePad;
  h3{
    margin: 1rem;
  }
  a{
    text-decoration: none;
    color: $black;
  }
  &__block{
    height: 3rem;
    width: 9rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark;
    border-radius: 0.5rem;
    background: $backWhite;
    color: $dark;
    transition: 0.1s all;
    &:hover{
      background: $primary;
      color: white;
    }
  }
  @media(min-width: 768px){
    padding: 0 $tabletPad;
  }
  @media(min-width: 1440px){
  }
}
.profileBlock{
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  h4{
    max-width: 10rem;
    padding-bottom: 0.25rem;
  }
  p{
    text-align: center;
    flex-grow: 2;
    background: $light;
    border: 1px solid $dark;
    border-radius: 4px;
    max-height: 4rem;
    overflow-y: auto;
    padding: 0.25rem;
    font-size: 16px;
    }
}
.profile{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem $mobilePad;
  &__pic{
    height: 7rem;
    width: 7rem;
    img{
      border: 1px solid $dark;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    } 
  }
  &__member{
    width: 100%;
  }
  @media(min-width: 768px){
    padding: 1rem $tabletPicPad;
  }
  @media(min-width: 1440px){
  }
}
.profile__bio{
  p{
    max-height: 6rem;
  }
}
.profile__address{
  p{
    max-height: 6rem;
  }
}
.noconnections{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.connections{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  margin-top: 1rem;
  padding: 0 $mobilePad;
  @media(min-width: 768px){
    padding: 0 $tabletPad;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  @media(min-width: 1440px){
  }
}
.CU{
  padding: 0.5rem 0;
  width: 100%;
  &__card{
    min-height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      text-decoration: none;
      color: $black;
    }
    h3{
      border: 1px solid $dark;
      border-radius: 4px;
      background: $light;
      color: $black;
      margin-left: 0.25rem;
      padding: 0.25rem;
      transition: 0.1s all;
      &:hover{
        background: $primary;
        color: white;
      }
    }
    img{
      margin-right: 0.25rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    button{
      border: 1px solid $dark;
      border-radius: 4px;
      background: $backGrey;
      color: $black;
      width: 5rem;
      display: flex;
      align-items: center;
      padding: 0.25rem;
      transition: 0.2s all;
      &:hover{
        background: $primary;
        color: white;
      }
    }
  }
  &__seeMore{
    button{
      background: $light;
      height: 2rem;
      width: 5rem;
      border: 1px solid $dark;
      border-radius: 4px;
      margin: 1rem;
      transition: 0.2s all;
      &:hover{
        background: $primary;
        color: white;
      }
    }
  }
  @media(min-width: 768px){
    width: 20rem;
  }
  @media(min-width: 1440px){
  }
}
.seeLess{
  display: none;
}
.connectionProfile{
  border: 2px solid $dark;
  border-radius: 4px;
  background: $backWhite;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem $mobilePad;
  &__pic{
    height: 7rem;
    width: 7rem;
    img{
      border: 1px solid $dark;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    } 
  }
  &__member{
    width: 100%;
  }
}
.conversation{
  background: $backWhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    background: $backGrey;
    position: fixed;
    img{
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }
  &__chat {
    width: 100%;
    flex-grow: 3;
    border-radius: 4px;
    margin: 1rem 0;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    max-height: 55vh;
    overflow: auto;
  }
  &__sent{
    margin: 0.25rem;
    align-self: flex-end;
    background: $light;
    max-width: 80%;
    border: 1px solid $dark;
    border-radius: 2rem;
    padding: 0.25rem 0.75rem;
  }
  &__rec{
    margin: 0.25rem;
    align-self: flex-start;
    background: $backGrey;
    max-width: 80%;
    border: 1px solid $dark;
    border-radius: 2rem;
    padding: 0.25rem 0.75rem;
  }
  &__post{
    background: $backWhite;
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 1rem;
    form{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    textarea{
      padding: 0.25rem;
      flex-grow: 2;
      border: 1px solid $dark;
      border-radius: 4px;
    }
    button{
      align-self: center;
      margin-left: 0.5rem;
      background: $light;
      border: 1px solid $dark;
      border-radius: 4px;
      height: 2rem;
      width: 4rem;
    }
  }
}
.noadd{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.add{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  padding: 0 $mobilePad;
  h3{
    margin: 1rem;
  }
  @media(min-width: 768px){
    padding: 0 $tabletPad;
  }
  @media(min-width: 1440px){
  }
}
.adduserBlock{
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  h4{
    max-width: 10rem;
    padding-bottom: 0.25rem;
  }
  p{
    text-align: center;
    flex-grow: 2;
    background: $light;
    border: 1px solid $dark;
    border-radius: 4px;
    max-height: 4rem;
    overflow-y: auto;
    padding: 0.25rem;
    }
}
.adduser{
  width: 100%;
  padding: 1rem 0;
  &__card{
    height: auto;
    background: $backWhite;
    border: 2px solid $dark;
    border-radius: 4px;
    padding: 0.5rem;
  }
  &__header{
    display: flex;
  }
  &__person{
    display: flex;
    flex-direction: column;
  }
  &__city{
    display: flex;
    p{
      margin-left: 0.25rem;
    }
  }
  &__display{
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 1rem;
    img{
      border-radius: 50%;
      height: 100%;
      width: 100%;
    } 
  }
  &__high{
    border: 3px solid rgb(92, 185, 92);
  }
  &__mid{
    border: 3px solid rgb(236, 236, 108);
  }
  &__low{
    border: 3px solid rgb(255, 87, 87);
  }
  &__match{
    background: $light;
    border: 1px solid $dark;
    border-radius: 4px;
    color: $dark;
    border-radius: 4px;
    font-size: 2rem;
    padding: 0.25rem;
    transition: 0.1s all;
      &:hover{
        background: $primary;
        color: white;
      }
  }
  @media(min-width: 768px){
    padding: 1rem $tabletPicPad;
  }
  @media(min-width: 1440px){
  }
}
.adduser__bio{
  p{
    max-height: 6rem;
  }
}
.noactivity{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  h3{
    margin: 1rem;
  }
}
.activity{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  padding: 1rem 0;
  h1{
    margin: 0 1rem 1rem 1rem;
    align-self: start;
  }
}
.AE{
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  border-top: 1px solid $backGrey;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  &__card{
    min-height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img{
    align-self: center;
    height: 2rem;
    width: 2rem;
  }
}
.settings{
  background: $backBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 2;
  margin: 1rem 0;
  padding: 0 1rem;
  &__landing{
    width: 100%;
  }
  a{
    text-decoration: none;
    color: $textBlack;
    width: 100%;
    max-width: 20rem;
  }
  li{
    list-style-type: none;
    background: $light;
    border: 2px solid $dark;
    border-radius: 4px;
    margin-top: 1rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s all;
      &:hover{
        background: $primary;
        color: white;
      }
  }
  &__menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media(min-width: 768px){
    padding: 0 $tabletPad;
    a{
      width: 10rem;
    }
    &__menu{
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  @media(min-width: 1440px){
  }
}
.invite{
  width: 100%;
  form{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  label{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  &__formVal{
    margin: 0.5rem 0;
    width: 100%;
    padding: 0.5rem;
  }
  input{
    height: 2rem;
  }
  textarea{
    min-height: 10rem;
  }
  button{
    height: 3rem;
    width: 8rem;
    border: 1px solid $dark;
    border-radius: 4px;
    background: $light;
    transition: 0.1s all;
    &:hover{
      background: $primary;
      color: white;
    }
  }
  @media(min-width: 768px){
    padding: 0 $tabletPicPad;
  }
  @media(min-width: 1440px){
  }
}
.notif{
  &__title{
    margin: 1rem 0;
  }
  @media(min-width: 768px){
    &__title{
      padding: 0 $tabletPicPad;
    }
  }
  @media(min-width: 1440px){
  }
}
.account{
  width: 100%;
  @media(min-width: 768px){
    form{
      padding: 0 $tabletPicPad;
    }
  }
  @media(min-width: 1440px){
  }
  
}
.accountFormBlock{
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  h4{
    max-width: 15rem;
    padding-bottom: 0.25rem;
  }
  p{
    text-align: center;
    flex-grow: 2;
    background: $backGrey;
    border: 1px solid $dark;
    border-radius: 4px;
    max-height: 2.5rem;
    overflow-y: auto;
    padding: 0.25rem;
  }
  input{
    text-align: center;
    flex-grow: 2;
    background: $white;
    border: 1px solid $dark;
    border-radius: 4px;
    max-height: 2.5rem;
    overflow-y: scroll;
    padding: 0.25rem;
  }
  input::placeholder{
    color: $textBlack;
  }
  &:focus{
    border: blue;
  }
}
.accountForm{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pic{
    margin-top: 1rem;
    height: 7rem;
    width: 7rem;
    img{
      border: 1px solid $dark;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    } 
  }
  &__member{
    width: 100%;
  }
  button{
    background: $light;
    color: $dark;
    border: 1px solid $dark;
    border-radius: 8px;
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    transition: 0.1s all;
      &:hover{
        background: $primary;
        color: white;
      }
  }
}
.accountForm__bio{
  textarea{
    text-align: center;
    flex-grow: 2;
    background: $white;
    border: 1px solid $dark;
    border-radius: 4px;
    overflow-y: scroll;
    padding: 0.25rem;
    max-height: 5.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    color: $textBlack;
  }
}
.accountForm__address{
  p{
    max-height: 5.5rem;
  }
}
.accountForm__name{
  input{
    width: 7.5rem;
    margin: 0.25rem;
  }
}
.accountForm__industry{
  width: 100%;
  select{
    width: 100%;
    text-align: center;
    flex-grow: 2;
    background: $white;
    border: 1px solid $dark;
    border-radius: 4px;
    height: 2.5rem;
    padding: 0.25rem;
  }
}
.footer{
  background: $backBlack;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  position: relative;
  h3{
    text-align: center;
  }
  h5{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  @media(min-width: 768px){
  }
  @media(min-width: 1440px){
  }
}

//Default Component Styles
// .name{
//   @media(min-width: 768px){
//   }
//   @media(min-width: 1440px){
//   }
// }