body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
h1{

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Variable Declarations
  //Page Widths
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
  //Page Pads
$mobilePad: 1rem;
$tabletPad: 1.5rem;
$desktopPad: 11.25rem;
  //Color Pallete
$black: #000000;
$white: #FFFFFF;
$textBlack: #323232;
$textWhite: #FAFAFA;
$backWhite: #F0F0F0;
$backBlue: #e9f1f7;
$backGrey: #BFBFBF;
$backBlack: #626262;
$primary: #044ea1;
$secondary: #7C7C7C;
$tertiary: #2B303A;
$light: #9FB8DE;
$dark: #21386E;


//Mixins
@mixin general-pad{
  padding: 2vw 2vw 0vw ;
  @media (min-width: $tablet ) { 
  padding: 3vw 3vw 0vw;
  }
  @media (min-width: $desktop ) { 
  padding: 3vw 9.5vw;
  }
}
@mixin signUpField{
  color: $white;
  margin-bottom: 2rem;
  width: 100%;
  input{
    height: 2rem;
    width: 100%;
    border: 2px solid $dark;
    border-radius: 0.5rem;
    font-size: 16px;
    padding: 0 1rem;
  }
}
@mixin signUpSelect{
  color: $white;
  margin-bottom: 2rem;
  width: 100%;
  select{
    height: 2rem;
    width: 100%;
    border: 2px solid $dark;
    border-radius: 0.5rem;
    font-size: 16px;
    padding: 0 1rem;
  }
}
@mixin loginField{
  color: $white;
  text-align: center;
  input{
    height: 2.5rem;
    width: 15rem;
    border: 2px solid $dark;
    border-radius: 0.5rem;
    font-size: 20px;
    padding: 0 1rem;
  }
  input:focus{
    background: $backGrey;
  }
}

 @import 'app.scss';